* {
    box-sizing: border-box;
    outline: none;
  }
  body {
    margin: 0;
    font-family: Sans-serif;
    overflow: hidden;
  }
  .projects {
    height: 100vh;
    display: flex;
  }
  .left {
    height: 100%;
    display: flex;
  }
  .sidebar {
    width: 80px;
    height: 100%;
    background-image: linear-gradient(
      -225deg,
      #5271c4 0%,
      #b19fff 48%,
      #eca1fe 100%
    );
    display: flex;
  }
  .wrapper {
    padding: 0 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    overflow: auto;
  }
  
  .items {
    margin-top: 50px;
  }
  
  .items > img {
    margin-bottom: 25px;
  }
  
  .profile > img {
    border-radius: 50%;
    width: 305x;
    height: 35px;
    border: 1px solid white;
  }
  .profile {
    margin-top: auto;
  }
  .menu {
    margin-top: 20px;
  }
  .navigation {
    width: 270px;
    border-right: 1px solid #ddd;
  }
  
  .compose {
    width: 150px;
    text-align: center;
    height: 50px;
    border-radius: 13px;
    border: 1px solid;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: white;
    font-size: 16px;
    padding-left: 20px;
    position: relative;
  }
  .folders {
    margin-top: 30px;
    color: #b8b8b8;
    font-size: 14px;
  }
  .folder-icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .icon-name1 {
    margin-left: 10px;
    color: #8b47a9;
  }
  
  .icon-name {
    margin-left: 10px;
    color: grey;
  }
  .names {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .avatar > img {
    width: 35px;
    border-radius: 10px;
  }
  .section1 {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .btn {
    border-radius: 3px;
    border: 1px;
    padding: 0 10px 0 30px;
    height: 30px;
    font-weight: bold;
    position: relative;
  }
  
  .buton1 {
    background-color: #f8f1ff;
    color: #a84bfe;
  }
  .buton2 {
    background-color: #fff1f6;
    color: #fe4b85;
  }
  .buton3 {
    background-color: #eef0ff;
    color: #2632fe;
  }
  .buton4 {
    background-color: #ebfbf8;
    color: #01c991;
  }
  .names {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .avatar > img {
    width: 35px;
    border-radius: 10px;
  }
  .section1 {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .plus > img {
    width: 16px;
    height: 16px;
  }
  .plus {
    left: 10px;
    position: absolute;
  }
  .tag {
    position: absolute;
    left: 6px;
    top: 10px;
  }
  .buton-span {
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px;
    color: white;
    background-color: #fe365c;
    box-shadow: 0px 0px 10px 2px #f7bfc9;
    margin-left: 70px;
  }
  
/* styling navlist */
  #navlist {
    float:center !important;
    position: relative;
    width: 100%;
    text-align: center !important;
    padding-left: 1%;
}
     
/* styling navlist anchor element */
#navlist a {
    left: 0;
    right: 0;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
}


/* hover effect of navlist anchor element */
#navlist a:hover {
    background-color: rgb(253, 141, 101);
    border-radius: 50px;
    color: white;
}