
{% include 'dashboard.html' %}
{% block right_content %}    
<div class="container" style="width: 100%;">
    <div class="row">
      <a href="../templates/projects.html">
        <div class="col-md-4 col-xl-3">
            <button class="card bg-c-blue order-card" style="width: 100%;">
                <div class="card-block">
                    <h6 class="m-b-20">Projects</h6>
                    <h2 class="text-right"><i class="fa f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Projects<span class="f-right">351</span></p>
                </div>
              </button>
        </div>
    </a>

        <a href="">
        <div class="col-md-4 col-xl-3">
            <button class="card bg-c-green order-card" style="width: 100%;">
                <div class="card-block">
                    <h6 class="m-b-20">Bursary Applications</h6>
                    <h2 class="text-right"><i class="fa f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Applications Received<span class="f-right">351</span></p>
                </div>
              </button>
        </div>
      </a>
        
      <a href="">
        <div class="col-md-4 col-xl-3">
            <button class="card bg-c-pink order-card" style="width: 100%;">
                <div class="card-block">
                    <h6 class="m-b-20">Citizen Reports</h6>
                    <h2 class="text-right"><i class="fa f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Complains posted<span class="f-right">351</span></p>
                </div>
              </button>
        </div>
      </a>

      <a href="">
        <div class="col-md-4 col-xl-3">
            <button class="card bg-c-yellow  order-card" style="width: 100%;">
                <div class="card-block">
                    <h6 class="m-b-20">Bursaries</h6>
                    <h2 class="text-right"><i class="fa f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Bursaries Available<span class="f-right">351</span></p>
                </div>
              </button>
        </div>
      </a>
  </div>
</div>

{% endblock right_content %}