{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'edit-profile.css' %} ">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-4" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <div class="mb-3 text-center"><button class="btn btn-primary profile-button" type="button">Change Image</button></div>
                        <span class="font-weight-bold">Juma</span><span class="text-black-50">Juma@mail.com.my</span><span> </span>
                    </div>
                    

                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="" value=""></div>
                            <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="" placeholder=""></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" placeholder="" value=""></div>
                            <div class="col-md-12"><label class="labels">Location</label><input type="text" class="form-control" placeholder="" value=""></div>
                            <div class="col-md-12"><label class="labels">Bio</label><input type="text" class="form-control" placeholder="" value=""></div>
                        </div>
                        
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center cdf"><span>NG-CDF Profile</span><span class="border px-3 p-1 add-cdf"><i class="fa fa-plus"></i>&nbsp;Update CDF</span></div><br>
                        <div class="col-md-12"><label class="labels">NG-CDF Name</label><input type="text" class="form-control" placeholder="" value=""></div> <br>
                        <div class="col-md-12"><label class="labels">NG-CDF ID</label><input type="text" class="form-control" placeholder="" value=""></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>