{% extends 'ng_cdf/base.html' %}
{% load static %}


{% block content %}
    
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Bursaries</h1>
                <a href="{% url 'ng_cdf:home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'ng_cdf:bursaries-list' %}">Bursaries</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'ng_cdf:bursaries-list' %}">Applications</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <div class="container">
        <div class="row mt-5 mb-5 pt-xxl-2">
            <div class="col-md-12">
                <table class="table table-striped table-borderless table-responsive">
                    <thead>
                        <tr class="font-weight-bold">
                            <th></th>
                            <th><h5>Bursary Name</h5></th>
                            <th><h5>Status</h5></th>
                            {% comment %} <th><h5>Financial Year</h5></th> {% endcomment %}
                            <th><h5>Action</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td scope="row">
                                <a class="download-title" href="{{application.get_absolute_url}}">{{application.bursary.bursary_name}}</a>
                                <span class="d-block small">Date of applicaiton: {{application.application_date}}</span>
                            </td>
                            {% if application.status == "shortlisted" %}
                            <td><span class="btn text-white btn-info btn-sm">shortlisted</span></td>
                            {% elif application.status == "interview" %}
                            <td><span class="btn text-white btn-info btn-sm">shortlisted</span></td>
                            {% elif application.status == "declined" %}
                            <td><span class="btn text-white btn-danger btn-sm">declined</span></td>
                            {% elif application.status == "pending" %}
                            <td><span class="btn text-white btn-warning btn-sm">pending</span></td>
                            {% elif application.status == "accepted" %}
                            <td><span class="btn text-white btn-success btn-sm">accepted</span></td>
                            {% endif %}
                            <td><a class="view-prjct" href="{{application.delete_url}}">Delete</a></td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>   
        </div>
    </div>

{% endblock content %}
    
            
