{% extends 'ng_cdf/base.html' %}
{% load static %}


{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Bursary Application</h1>
                <a href="{% url 'ng_cdf:home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'ng_cdf:bursary-detail' bursary.id %}">Bursary</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'ng_cdf:apply-bursary' bursary.id %}">Application</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Start -->
    <div class="container-fluid bg-secondary px-0">
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5">
                <h1 class="display-5 mb-4">Application Form</h1>
                <form method="get|post">
                    {% csrf_token %}
                        <div class="form-input">
                            <label class="my-2 h3" for="name">Personal Information</label>
                            <!-- Pass the bursary inforamation here-->
                            <div class="row" >
                                
                                <div class="col-lg-6"><label class="my-2" for="name">First name</label> <input class="form-control" name="name" value="{{user.first_name}}" disabled="true"></div>
                                
                                <div class="col-lg-6"><label class="my-2" for="name">Last name</label> <input class="form-control" name="name" value="{{user.last_name}}" disabled="true"></div>
                            </div>
                        </div>
                        <div class="form-input">
                            <label class="my-2 h3" for="name">Contact Information</label>
                            <!-- Pass the bursary inforamation here-->
                            <div class="row" >
                                
                                <div class="col-lg-6"><label class="my-2" for="name">Phone number</label> <input class="form-control" name="name" value="{{user.phone_number}}" disabled="true"></div>
                                
                                <div class="col-lg-6"><label class="my-2" for="name">Email</label> <input class="form-control" name="name" value="{{user.email}}" disabled="true"></div>
                            </div>
                        </div>
                        <input hidden = "true" name="applicant"  id="applicant" value="{{user.id}}">
                    
                    
                    <div class="form-input">
                        <label class="my-2 h3" for="name">Bursary Information</label>
                        <!-- Pass the bursary inforamation here-->
                        <div class="row" >
                            <div class="col-lg-6"><label class="my-2" for="name">Name</label> <input class="form-control" name="b" value="{{bursary.bursary_name}}" disabled="true"></div>
                            <div class="col-lg-6"><label class="my-2" for="name">Type</label> <input class="form-control" name="name" value="{{bursary.bursary_type}}" disabled="true"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"><label class="my-2" for="name">Bursary ID</label> <input class="form-control" name="b" value="{{bursary.bursary_id}}" disabled="true"></div>
                        <div class="col-lg-6"><label class="my-2" for="name">Organization/ CDF</label> <input class="form-control" name="b" value="{{bursary.ng_cdf.ng_cdf_name}}" disabled="true"></div>
                        </div>
                        <input hidden = "true" name="bursary" id="bursary" value="{{bursary.id}}">
                    </div>
                    <div class="form-input">
                        <label class="my-2 h3" for="name">Application</label>
                        <!-- Pass the bursary inforamation here-->
                        <div class="row" >
                            <div class="col-lg-6" id="name"><label class="my-2" for="name">Date of birth</label>{{form.date_of_birth}}</div>
                            <div class="col-lg-6"><label class="my-2" for="application_date">Date of Application</label>{{form.application_date}}</div>
                        </div>
                    </div>
                    <div class="form-input"><label class="my-2" for="email_address">Insititution Name</label>{{form.institution_name}}</div>
                    <div class="form-input"><label class="my-2" for="preferred_contact_times">Insititution Location</label>{{form.institution_location}}</div>
                    {% comment %} <div class="form-input">{{form.captcha}}</div> {% endcomment %}
                   
                    <div class="form-input"><input class="btn btn-primary my-4 py-1" type="submit" formmethod="POST" value="submit"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock content %}