{% extends 'base.html' %}
{% block content %}
<nav class="bg-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'ng-cdf:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ng-cdf:citizen-report' %}">Citizen Report</a></li>
    </ol>
    <h1 class="fw-bolder">Citizen Report</h1>
</nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-8" id="sub-form">
                    <form method="get|post">
                        {% csrf_token %}
                        <div class="form-input"><label for="email_address">NG CDF </label>{{form.ng_cdf}}</div>
                        <div class="form-input"><label for="phone_number">Project Name</label>{{form.project_name}}</div>
                        <div class="form-input"><label for="preferred_contact_times">Project Location</label>{{form.project_location}}</div>
                        <div class="form-input"><label for="preferred_contact_method">Report Type</label>{{form.report_type}}</div>
                        <div class="form-input"><label for="street_address">Description</label>{{form.description}}</div>
                        <div class="form-input"><label for="city">Report Date</label>{{form.city}}</div>
                        {% comment %} add images form fields {% endcomment %}
                        <div class="form-input"><label for="city">Images</label>{{form.images}}</div>
                        {% comment %} <div class="form-input">{{form.captcha}}</div> {% endcomment %}
                        <div class="form-input"><input class="form-input btn-submit contact-submit" type="submit" formmethod="POST" value="submit"></div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}