{% extends 'ng_cdf/base.html' %}
{% load static %}


{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-dark p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">FAQs</h1>
            <a href="{% url 'ng_cdf:home' %}">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="{% url 'ng_cdf:faqs'%}">FAQs</a>
        </div>
    </div>
</div>
<!-- Page Header End -->

    <div class="container">
        <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#1" aria-expanded="true" aria-controls="1">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is NGCDFB in full?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="1" class=" " aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is NGCDFB in full?</h4>                                                    
                    <div class="faq_content"><p>National Government Constituencies Development Fund Board</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#2" aria-expanded="true" aria-controls="2">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is the Mandate of The Board?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="2" class=" " aria-labelledby="heading2" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is the Mandate of The Board?</h4>                                                    
                    <div class="faq_content"><p>The NG-CDF Board is a body corporate falling under the Ministry of Devolution and Planning. It ensures efficient management of the funds in all constituencies. The Board has a secretariat in Nairobi headed by the Chief Executive Officer.</p>
<p><b>Mandates of NG-CDF Board</b><br />
• Consider project proposals submitted from various Constituencies.<br />
• Ensure timely and efficient disbursement of funds.<br />
• Ensure efficient management of the Fund.</p>
<p><b>Establishment of The Fund</b><br />
The National Government Constituencies Development Fund (NG-CDF) is established under the NG-CDF Act, 2015 as amended in 2016.</p>
<p>The main purpose of the Fund is to address socio-economic development of the people at the constituency level in order to reduce poverty and enhance regional equity.</p>
<p>The NG-CDF Act 2015 aligned the operations of the Fund to the new constitutional dispensation especially in terms of ensuring that the law strongly embraces the principles of participation of the people, separation of powers, and delineation of functions between National and County governments.</p>
<p>An allocation of not less than 2.5% of all the National Government’s share of revenue is dedicated towards implementation of projects identified at constituency level.</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#3" aria-expanded="true" aria-controls="3">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> Vision, Mission, Values of The Board                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="3" class=" " aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">Vision, Mission, Values of The Board</h4>                                                    
                    <div class="faq_content"><p><b>Vision</b><br />
Equitable socio-economic development countrywide.</p>
<p><b>Mission</b><br />
To provide leadership and policy direction for effective and efficient management of the Fund.</p>
<p><b>Core Values</b><br />
Commitment &amp; teamwork, Transparency &amp; Accountability, Professionalism &amp; Integrity, Neutrality &amp; Objectivity, Timeliness &amp; Excellence, Advocacy for citizen participation.</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#4" aria-expanded="true" aria-controls="4">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is the Structure of The Board?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="4" class=" " aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is the Structure of The Board?</h4>                                                    
                    <div class="faq_content"><ol>
<li>The State Department responsible for National Economic Policy Planning and Development</li>
<li>The National Treasury</li>
<li>NG-CDF Board</li>
<li>NG-CDF Committee (NGCDFC)</li>
<li>Project Management Committee (PMC)</li>
</ol>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#5" aria-expanded="true" aria-controls="5">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> Representation, Legislation & Oversight Structure                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="5" class=" " aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">Representation, Legislation & Oversight Structure</h4>                                                    
                    <div class="faq_content"><p>a. National Assembly Select Committee (NASC)<br />
b. Constituency Oversight Committee (COC)<br />
c. Audit</p>
<p><b>What is the role of National Assembly Select Committee (NASC)</b><br />
• Oversee policy framework and legislative matters.<br />
• Continually review the legal framework set out for effective management. of the Fund</p>
<p><b>What is the role of Constituency Oversight Committee (COC)</b><br />
• Mobilizing and sensitizing the respective target groups on any matter related to the Fund.<br />
• Soliciting views, opinions and proposals from the public in regard to the Fund and presenting the views and opinions to the National Assembly.</p>
<p><b>What is the role of Audit</b><br />
• Through the Auditor General’s annual report to the Parliamentary Accounts Committee (PAC) and the Parliamentary investment committee (PIC) oversees efficient financial management of the Fund.<br />
• Further, the sub-county internal auditors in every constituency track the utilization of the Fund and regularly reports to the National Treasury with a copy to the NG-CDF Board.<br />
• In line with section 16 (b) of NG-CDF Act 2015 the Board has established its own internal audit department that reviews constituency accounts and provides assurance on efficient utilization of the Fund.</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#6" aria-expanded="true" aria-controls="6">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> The National Treasury                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="6" class=" " aria-labelledby="heading6" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">The National Treasury</h4>                                                    
                    <div class="faq_content"><p>Finances the NG-CDF budgets and provides financial guidelines for effective and efficient management of the Fund.</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#7" aria-expanded="true" aria-controls="7">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is the role of NG-CDF Committee (NGCDFC)?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="7" class=" " aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is the role of NG-CDF Committee (NGCDFC)?</h4>                                                    
                    <div class="faq_content"><p>Develops project proposals in consultation with wananchi through periodic ward level open forums, submits them to the NG-CDF Board for approval and facilitates the PMCs in the planning, implementation, and sustenance of the projects once completed at the Constituency level.</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#8" aria-expanded="true" aria-controls="8">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is the role of Project Management Committee (PMC)?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="8" class=" " aria-labelledby="heading8" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is the role of Project Management Committee (PMC)?</h4>                                                    
                    <div class="faq_content"><p>Implements projects on behalf of the local community in consultation with relevant government department and prepares returns to the NGCDFC.</p>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#9" aria-expanded="true" aria-controls="9">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is the role of National Assembly Select Committee (NASC)?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="9" class=" " aria-labelledby="heading9" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is the role of National Assembly Select Committee (NASC)?</h4>                                                    
                    <div class="faq_content"><ul>
<li>Oversee policy framework and legislative matters</li>
<li> Continually review the legal framework set out for effective management of the Fund.</li>
</ul>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#10" aria-expanded="true" aria-controls="10">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> What is the role of Constituency Oversight Committee (COC)?                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="10" class=" " aria-labelledby="heading10" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">What is the role of Constituency Oversight Committee (COC)?</h4>                                                    
                    <div class="faq_content"><ul>
<li>Mobilizing and sensitizing the respective target groups on any matter related to the Fund.</li>
<li>Soliciting views, opinions and proposals from the public in regard to the Fund and presenting the views and opinions to the National Assembly.</li>
</ul>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#11" aria-expanded="true" aria-controls="11">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> Audit process                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="11" class=" " aria-labelledby="heading11" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">Audit process</h4>                                                    
                    <div class="faq_content"><ul>
<li>Through the Auditor General’s annual report to the Parliamentary Accounts Committee (PAC) and the Parliamentary investment committee (PIC) oversees efficient financial management of the Fund.</li>
<li>Further, the sub-county internal auditors in every constituency track the utilization of the Fund and regularly reports to the National Treasury with a copy to the NG-CDF Board.</li>
<li>In line with section 16 (b) of NG-CDF Act 2015 the Board has established its own internal audit department that reviews constituency accounts and provides assurance on efficient utilization of the Fund.</li>
</ul>
</div>
                </div>
            </div>
        </div>
                                    <div class="card rounded-0 bg-transparent">
            <div class="card-header p-0 bg-transparent" id="headingOne">
                <button class="btn d collapsible btn-link py-4 px-3 position-relative w-100 d-flex justify-content-between align-items-center" type="button" data-toggle="" data-target="#12" aria-expanded="true" aria-controls="12">
                    <span class="accordion-title">
                    <i class="fas fa-question-circle pr-2"></i> Role of Citizens                                                </span>  
                    <div class="chevron"><i class="fas fa-chevron-right"></i></div>
                    <span class="accordion-icon position-relative"></span>
                </button>
            </div>

            <div id="12" class=" " aria-labelledby="heading12" data-parent="#accordionExample">
                <div class="card-body bg-light">
                    <h4 class="title">Role of Citizens</h4>                                                    
                    <div class="faq_content"><ul>
<li>The Constitution of Kenya advocates for community participation in project formulation and implementation for ownership and sustainability.</li>
<li>In this regards the NG-CDF expects its implementing agencies to put community at the forefront in the project cycle. The community is therefore expected to:</li>
</ul>
<ol>
<li>Participate in open public meetings convened by the Chairperson of the NG-CDFC to deliberate on development matters in the ward and the constituency, to facilitate in prioritization of projects to be submitted to the NG-CDFC.</li>
<li>To participate in project implementation through provision of locally available resources (land, materials, labour or skills) either voluntarily or for pay.</li>
<li> Participate in nomination and formation of PMCs and NG-CDFCd) To provide feedback to the Board, law enforcement Agencies &amp; to the public on matters concerning the Fund.</li>
<li>Witness the commissioning of projects and issuance of cheques and other disbursements by the constituency committeeTo takeover &amp;nbsp sustain completed projects.</li>
</ol>
</div>
                </div>
            </div>
        </div>
   

</div>
</div>
    </div>
{% endblock content %}