{% extends 'ng_cdf/base.html' %}
{% load static %}


{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Project Detail</h1>
                <a href="{% url 'ng_cdf:home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'ng_cdf:projects' %}">Projects</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'ng_cdf:project-detail' project.id %}">Details</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8 bg-secondary">
                <!-- Detail Start -->
                <div class="container">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        
                        {% for project_image in project_images %}
                            <div class="carousel-item">
                                <img src="{{project_image.image.url}}" class="d-block w-100" alt="{{project_image.project.project_name}}">
                            </div> 
                        {% endfor %}
                            
                        
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                <div class="mb-5">
                    <img class="img-fluid w-100 mb-5" src="img/blog-1.jpg" alt="">
                    <h3 class="mb-4">{{project.project_name}}</h3>
                    <div>
                        <ul>
                            <li><b>Project ID:  </b>{{project.project_id}}</li>
                            <li><b>Project Status: </b>{{project.status}}</li>
                            <li><b>CDF: </b>{{project.ng_cdf.ng_cdf_name}}</li>
                            <li><b>Project Location: </b>{{project.location}}</li>
                            <li><b>Writeup Document: </b>{{project.writeup_document}}</li>
                        </ul>
                    </div>
                    <b>Project Description</b><br>
                    <p>{{project.description}}</p>
                </div>
                <!-- Detail End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock content %}