<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="width=device width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
    </head>
    <body>
        <div class="header">
           <div class="side-nav">
            <div class="user">
                <img src="../static/img/user.png" class="user-img">
                <div>
                    <h2>Username</h2>
                    <p>user@gmail.com</p>
                </div>
            </div>
            <ul>
                <li><img src="../static/img/dashboard.png"><p>Dashboard</p></li>
                <li><img src="../static/img/projects.png"><p>Projects</p></li>
                <li><img src="../static/img/bursary.png"><p>Bursaries</p></li>
                <li><img src="../static/img/Ongoing.png"><p>Ongoing Projects</p></li>
                <li><img src="../static/img/saved.png"><p>Saved</p></li>
                <li><img src="../static/img/complain.png"><p>Complain</p></li>
                <li><img src="../static/img/settings.png"><p>settings</p></li>
            </ul>
            <ul>
                <li><img src="../static/img/logout.png"><a href="login.html">Log Out</a></li>
            </ul>
           </div>
        </div>
    </body>
</html>