{% extends 'admin-dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main">
	<div class="report-container">
		<div class="report-header">
			<h3 class="mb-4">{{project.project_name}}</h3>

		</div>
		<!-- Detail Start -->
		
		<div class="d-flex flex-row bd-highlight mb-3">		
		{% for project_image in project_images %}
					
						<img src="http://127.0.0.1:8000{{project_image.image.url}}" width="50%" class="" alt="{{project_image.project.project_name}}">
					
				{% endfor %}
			</div> 
					
		<div class="mb-5 mt-5">
			<div>
				<ul>
					<li><b>Project ID:  </b>{{project.project_id}}</li>
					<li><b>Project Status: </b>{{project.status}}</li>
					<li><b>CDF: </b>{{project.ng_cdf.ng_cdf_name}}</li>
					<li><b>Project Location: </b>{{project.location}}</li>
					<li><b>Writeup Document: </b>{{project.writeup_document}}</li>
				</ul>
			</div>
			<b>Project Description</b><br>
			<p>{{project.description}}</p>
		</div>
		<!--  Detail End -->

		
	</div>
</div>
{% endblock content %}
	
		
	