{% extends 'admin-dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main">
	<div class="report-container">
		<div class="report-header">
			<h1 class="recent-Articles">Projects</h1>
			<a class class="text-decoration-none text-white" href="{% url 'ng_cdf:add-projects' %}"><button class="view"><i class="fa fa-plus"></i>  Add</button></a>

		</div>
		<div class="row mt-5 pt-xxl-2">
			<div class="col-md-12">
				<table class="table table-striped table-borderless table-responsive">
					<thead>
						<tr class="font-weight-bold">
							<th></th>
							<th><h5>Project Name</h5></th>
							<th><h5>Location</h5></th>
							<th><h5>Status</h5></th>
							<th><h5>Action</h5></th>
						</tr>
					</thead>
					<tbody>
						{% for project in projects %}
						<tr>
							<td>{{loop.index}}</td>
							<td scope="row">
								<a class="download-title" href="{{project.get_absolute_url}}">{{project.project_name}}</a>
								<span class="d-block small">Project ID: {{project.project_id}}</span>
							</td>
							<td><span class="">{{project.location}}</span></td>

							{% if project.status == "planned" %}
							<td><span class="btn text-white btn-info btn-sm">Planned</span></td>
							{% elif project.status == "postponed" %}
							<td><span class="btn text-white btn-warning btn-sm">Postponed</span></td>
							{% elif project.status == "completed" %}
							<td><span class="btn text-white btn-success btn-sm">Completed</span></td>
							{% endif %}
							<td><a class="view-prjct" href="{{project.admin_absolute_url}}">View</a> | <a class="view-prjct" href="{{project.delete_url}}">Delete</a> | <a class="view-prjct" href="{{project.update_project}}">Edit</a></td>
						</tr>
						{% endfor %}  
					</tbody>
				</table>
			</div>  
		</div>
	</div>
</div>
{% endblock content %}
	
		
	