{% extends 'admin-dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="main">
	<div class="report-container">
		<div class="report-header">
			<h3 class="mb-4">{{application.bursary.bursary_name}} Bursary Application</h3>
			

		</div>
		<!-- Start -->
		<div class="container-fluid py-6 px-5">
			<div class="row g-5">
				<div class="col-lg-2">
	
				</div>
				<div class="col-lg-8">
					<!-- Detail Start -->
					<div class="mb-5">
						
						<div>
                            <ul>
                                <h3 class="">Applicant Information</h3>
								<li><b>Applicant First Name:  </b>{{application.applicant.first_name}}</li>
								<li><b>Applicant Second Name:  </b>{{application.applicant.last_name}}</li>
								<li><b>Applicant Phone Number </b>{{application.applicant.phone_number}}</li>
								<li><b>Applicant Location </b>{{application.applicant.location}}</li>
							</ul>

							<ul>
                                <h3 class="">Bursary Information</h3>
                                <li><b>Bursary Name:  </b>{{application.bursary.bursary_name}}</li>
								<li><b>Bursary ID:  </b>{{application.bursary.bursary_id}}</li>
								<li><b>Bursary Status: </b>{% if application.bursary.available %}
									<span class="btn text-dark btn-outline-success btn-sm">application open</span>
									{% else %}
									<span class="btn text-dark btn-outline-primary btn-sm">application closed</span>
									{% endif %}</li>
								<li><b>CDF: </b>{{application.bursary.ng_cdf.ng_cdf_name}}</li>
								<li><b>Application Documents: </b>{{application.bursary.application_documents}}</li>
								<li><b>Bursary Deadline For Application: </b>{{application.bursary.deadline_of_application}}</li>
							</ul>

                            <ul class="list-unstyled">
                                <h3 class="">Application documents</h3>
                                
                                {% for doc in application_documents %}
                                    
                                <li>
                                {% if doc.application.url != null %}
                                    {{doc.application.url}}
                                {% endif %}
                                    </li>
                                <li>
                                    {% if doc.record_id.url != null %}
                                        {{doc.record_id.url}}
                                    {% endif %}
                                        </li>
                                <li>
                                    {% if doc.national_id.url != null %}
                                        {{doc.national_id.url}}
                                    {% endif %}
                                        </li>
                                <li>
                                    {% if doc.fathers_id.url != null %}
                                        {{doc.fathers_id.url}}
                                    {% endif %}
                                        </li>
                                <li>
                                    {% if doc.mothers_id.url != null %}
                                        {{doc.mothers_id.url}}
                                    {% endif %}
                                        </li>
                                <li>
                                    {% if doc.institution_transcript.url != null %}
                                        {{doc.institution_transcript.url}}
                                    {% endif %}
                                        </li>
                                <li>
                                    {% if doc.calling_letter.url != null %}
                                        {{doc.calling_letter.url}}
                                    {% endif %}
                                        </li>

                                <li>
                                    {% if doc.fee_structure.url != null %}
                                        {{doc.fee_structure.url}}
                                    {% endif %}
                                        </li>
                                <li>
                                    {% if doc.other.url != null %}
                                        {{doc.other.url}}
                                    {% endif %}
                                        </li>
                                {% endfor %}
                                    
							</ul>
						</div>
					</div>
					<!-- Detail End -->
				   
				</div>
			</div>
		</div>
		<!-- End -->

		
	</div>
</div>
{% endblock content %}
	
		
	